/* GLOBAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    color: black;
    letter-spacing: 1px;
}
h2 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 3rem;
    text-align: center;
    letter-spacing: 2px;
}
button{
    background-color: #ff0e83;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    font-size: 0.875rem;
    padding: 13px 32px;
    cursor: pointer;
    letter-spacing: 1px;
    transition: all 0.5s;
}
button:hover{
    background-color: white;
    color: black;
}

/* HEADER  */
header{
    background-color: #4e2a84;
    padding: 1.3rem;
    position: fixed;
    width:100%;
    z-index: 99999;
}
.header__content{
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header__content ul{
    list-style: none;

}
.header__content ul a{
    text-decoration: none;
    color: white;
    font-size: 0.75rem;
    font-weight: 700;
    letter-spacing: 2px;
    transition: all 0.5s;
}
.header__content ul a:hover{
    color: #ff0e83;

}
.header__content ul .active a{
    color: #ff0e83;
}

.header__content li{
    display:inline;
    margin: 1rem;
}

.header__content p{
    color: white;
    font-size: 2.3rem;
}

/* CAROUSEL  */
.carousel{
    background-image: url(../img/b3.jpg);
    height: 800px;
    background-size: cover;
    background-position: center;
    color:  white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel__content h1{
    font-size: 3.5rem;

}
.carousel__content p{
    font-size: 1.1rem;
    padding: 23px 0;
}

/* INTRO  */
.intro{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.intro__ab1{
    grid-column: 2 / span 2;
}
.intro__bake{
    grid-column: 1 / span 2;
}
.intro__ab4{
    grid-column: 3 / span 2;
}
.intro__item img{
    width: 100%;
    display: block;
}
.intro__item {
    display:flex;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
}
.intro__text{
    padding: 0 32px;
}
.intro__item h3{
    color:white;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}
.intro__item p{
    font-size: 0.875rem;
    color: #c1c1c1;
    line-height: 29px;
}
.intro .intro__item:first-child, .intro .intro__item:nth-child(8){
    background-color: #4e2a84;
}
.intro .intro__item:nth-child(3){
    background-color: #ff0e83;
}
.intro .intro__item:nth-child(4){
    background-color: #ed6498;
}
.intro .intro__item:nth-child(6){
    background-color: #836eaa;
}

/* NUMBER  */
.number{
    padding:70px 0;
}
.number__content{
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    width: 70%;
    margin: 0 auto;
    text-align: center;
}
.number__item p:first-of-type{
    font-size: 2rem;
    color: #4e2a84;
    font-weight: 600;
}
.number__item p:last-of-type{
    font-size: 1.4rem;
    /* color:black; */
    font-weight: 700;
    letter-spacing: 4px;
    padding: 24px 0;
}
/* SERVICES  */
.services {
    background-image: url(../img/s1.jpg);
    background-size: cover;
    text-align: center;
    padding: 70px 0;
}
.services h2{
    color:white;
    font-size: 3rem;
    letter-spacing: 3px;
    margin: 3rem 0;
}
.services__content {
    display:flex;
    width: 80%;
    margin: 0 auto;

}
.services__item {
    padding:0 20px;

}
.services__item i{
    background-color: white;
    padding: 20px;
    font-size: 3.75rem;
    border:1px solid #4e2a84;
    border-radius: 50%;
    color:#4e2a84;
    transition: all 0.5s;
}
.services__item h3{
    font-size: 1.5rem;
    font-weight: 500;
    margin: 17px 0;
}
.services__item p{
    font-size: 0.875rem;
    line-height: 1.4rem;
    margin-bottom: 12px;
}
.services__item:hover i{
    color: #ff0e83;
}

/* GALLERY  */
.gallery {
    padding: 70px 0;
}
.gallery__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    padding: 0 15px;

}
.gallery__g1 {
    grid-column: 1 / span 2;
}
.gallery__g6 {
    grid-column: 3 / span 2;
}
.gallery__item img {
    width: 100%;
    height: 100%;
    display: block;
}
.gallery__item{
    position: relative;
    overflow: hidden;
}
.gallery__overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: right;
    background-color: rgba(48, 132, 163, 0.2);
    color: white;
    padding: 38px 28px;
}
.gallery__overlay h3{
    font-size: 1.875rem;
    transform: translateY(20px);
    transition: all 0.5s;
}
.gallery__item:hover .gallery__overlay h3{
    transform: translateY(0);
}
.gallery__overlay p{
    position: absolute;
    bottom: 38px;
    right: 28px;
    font-size: 0.875rem;
    transform: translateY(40px);
    opacity: 0;
    transition: all 0.5s;
}
.gallery__overlay h3 span{
    font-weight: 300;
}
/* .gallery__overlay h3::before{
    content: "";
} */
.gallery__overlay h3::after{
    content: "";
    width: 100%;
    height: 5px;
    background-color: white;
    display: block;
    margin-top: 10px;
    transform: translateY(20px);
    opacity: 0;
    transition: all 0.5s;
}
.gallery__item:hover .gallery__overlay h3::after{
    transform: translateY(0);
    opacity: 1;
}
.gallery__item:hover .gallery__overlay p{
    transform: translateY(0);
    opacity: 1;
}

/* TEAM  */
.team{
    background-color: #4e2a84;
    padding:70px 0;
}
.team h2{
    color: white;
}
.team__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px 30px;
    width: 75%;
    margin: 0 auto;
}
.team__content  img{
    width: 100%;
    display: block;
}
.team__item {
    position: relative;

}
.team__title {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #ff0e83;
    color: white;
    width: 100%;
    padding: 30px;
    opacity: 1;
    transition: all 0.5s;
}
.team__content h3{
    font-size: 1.3rem;
}
.team__content p{
    font-size: 0.875rem;
    line-height: 28px;

}
.team__detail {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 100px 40px;
    opacity: 0;
    transition: all 0.5s;
}
.team__detail h3{
    color: #ff0e83;
}
.team__text {
    margin: 8px 0;
}
.team__icon {
    margin-top: 24px;
}
.team__icon i{
    width: 37px;
    height: 37px;
    line-height: 37px;
    margin: 0 5px;
    text-align: center;
    border: 1.5px solid rgba(255,255,255,0.5);
}
.team__icon i:hover{
    color:#ff0e83;
    border-color: #ff0e83;
}
.team__item:hover .team__title {
    opacity: 0;
}
.team__item:hover .team__detail{
    opacity: 1;
}

/* FEEBACK  */
.feeback{
    background-image: url(../img/cc1.jpg);
    background-size: cover;
    padding: 70px;
}
.feeback h2{
    color: white;
}
.feeback__content {
    background-color: rgba(255, 255, 255, 0.6);
    width: 75%;
    margin: 0 auto;
    padding: 40px;
    border: 3px solid #ff0e83;
    text-align: center;
}
.feeback__content i{
    font-size: 1.5rem;
    color: #2cbeff;
    padding: 0 18px;
}
.feeback .feeback__content .item p:last-of-type{
    color: white;
}
.feeback__content p{
    line-height: 30px;
    letter-spacing: 1.3px;
}
.feeback__content .owl-theme .owl-dots .owl-dot span{
    background: rgba(0, 0, 0, 0.5);
}
.feeback__content .owl-theme .owl-dots .owl-dot.active span, .feeback__content .owl-theme .owl-dots .owl-dot:hover span{
    background: black;
}

/* CONTACT  */
.contact{
    padding: 70px 0;
}
.contact__form form{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 15px 30px;
    width: 75%;
    margin: 0 auto;

}
.contact__form textarea , .contact__form button {
    grid-column: 1/ span 2;
    padding: 15px;
    font-size: 1rem;
    font-weight: 600;
}

.contact__form input {
    padding: 15px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 600;
    transition: all 0.5s;
}
.contact__form input:focus{
    outline: none;
    box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
} 
.contact__form textarea {
    resize: none;
}
.contact__form textarea {
    outline: none;
}
.contact__form textarea::placeholder {
    color:black;    
}
.contact__form button {
    color: black;
    border-radius: 0;
}
.contact__form button:hover{
    color: white;
    background-color: black;
}
.contact__map iframe{
    width: 100%;
    margin: 30px 0;
}
.contact__info {
    display:flex;
    justify-content: space-around;
    /* align-items: center; */
    margin-top: 50px;
}
.contact__info .contact__item {
    text-align: center;
}
.contact__info .contact__item p{
    font-size: 0.8rem;
    margin: 10px 0;
}
.contact__info i{
    font-size: 2rem;
    color: #4e2a84;
}

/* FOOTER  */
footer{
    padding:50px 0;
    background-color: black;
    color: white;
}
.footer__content {
    display:flex;
    justify-content: space-around;
    width: 75%;
    margin: 0 auto;
    padding-bottom: 50px;
}
.footer__item {
    width: 25%;
    padding: 0 20px;
}
.footer__content h3{
    font-size: 1.3rem;
    color:#ff0e83;
    margin-bottom: 1rem;
}
.footer__content p{
    font-size: 0.8rem;
    color: white;
    padding-bottom: 1rem;
    line-height: 28px;
}

.footer__icon {
    margin-top: 24px;
}
.footer__icon i{
    width: 37px;
    height: 37px;
    line-height: 37px;
    margin: 0 5px;
    text-align: center;
    border: 1.5px solid rgba(255,255,255,0.5);
}
.footer__icon i:hover{
    color:#ff0e83;
    border-color: #ff0e83;
}
.footer__time {
    display:flex;
    justify-content: space-between;
    border-bottom: 1px dotted white;
}
.footer__time p{
    margin:10px 0;
    padding: 0;
}
.footer__item form {
    margin:20px 0;
}
.footer__item form input{
    padding:10px;
    margin-bottom: 16px;
    border: 1px solid black;
    border-radius: 5px;
}
.footer__item form input:focus{
    outline: none;
}
.footer__item form button {
    padding: 7px 16px;
    color: black;
    border: 1px solid #ff0e83;
    font-weight: 700;
}
.footer__item form button:hover{
    border-color: white;
}
.footer__copyright {
    text-align: center;
    font-size: 0.8rem;
}
.footer__copyright span{
    color:#ff0e83;
}

/* BACK TO TOP  */
.backtotop {
    position: fixed;
    bottom: 50px;
    right: 50px;
    visibility: hidden;
    opacity: 0;
}

.cd-top--is-visible {
    visibility: visible;
    opacity: 1;
  }
  
  .cd-top--fade-out { 
    opacity: .5;
  }
.backtotop i{
    color: #0BBBCC;
    font-size: 2rem;
    border: 2px solid #0BBBCC;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    line-height: 36px;
    text-align: center;
    font-size: 700;
}


